body {
    background-color:#FFFCF8;
    padding: 0;
}

.logo img {
    height:90px;
}

nav {
    width:100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

nav li {
    font-family: 'Lora', serif;
    font-weight: 600;
    list-style-type: none;
    padding: 20px;
    font-size: 22px;
}

nav li a {
    text-decoration: none;
    color:#000000;
}

nav li a:visited {
    color:#575F82;
    font-size: 20px;
}

nav li a:hover {
    color:#FFFCF8;
    transition:0.3s;
    text-decoration: none; 
}

nav ul li {
    transition: ease .3s;
}
  
nav ul:hover > li {
    opacity: 0.5;
}
  
nav ul:hover > li:hover {
    opacity: 1;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 62px;
    font-weight: 700;
    color:#000000;
    line-height: 62px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 600;
    color:#000000;
    line-height: 28px;
    padding-right:10px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#000000;
    line-height: 20px;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight:600;
    color:#000000;
    padding-top:12px;
}

h5 {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 500;
    color:#575F82;
    width:90%;
    line-height:22px;
    padding: 0 0 0 20px;
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color:#000000;
    padding: 0 0 0 20px;
}

.container-fluid {
    width:85%;
    padding: 0 10px 0 10px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
}

.gridContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.galleryItem1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.galleryItem2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
}

.galleryItem3 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.galleryItem4 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
}

.galleryItem5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    margin-top:20px;
}

.social {
    display: table;
}
  
.social ul {
    text-align: center;
    padding:0px;
    margin: 0 auto;
}
  
.social li {
    display: inline-block;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
    padding:0px;
}
  
.icon {
    width: 46px;
    height: 46px;
}
  
.icon .border {
    background: transparent;
    outline: none;
    color:#000000;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #000000;
    transition: all .2s ease-in-out;
}
  
.icon .border:hover {
    background: transparent;
    border-color: #FFFCF8;
    color:#FFFCF8;
}

.icon .border:visited {
    background: transparent;
    border-color: #575F82;
    color:#575F82;
}
  
.fa.fa-linkedin, .fa.fa-instagram, .fa.fa-phone,.fa.fa-envelope-o {
    font-size: 25px;
    color:#000000;
}

.fa.fa-linkedin:visited, .fa.fa-instagram:visited, .fa.fa-phone:visited,.fa.fa-envelope-o:visited {
    font-size: 25px;
    color:#575F82;
}

.fa.fa-linkedin:hover, .fa.fa-instagram:hover, .fa.fa-phone:hover,.fa.fa-envelope-o:hover {
    font-size: 25px;
    color:#FFFCF8;
}
 
.social ul li {
    transition: ease .3s;
}
  
.social ul:hover > li {
    opacity: 0.5;
}
  
.social ul:hover > li:hover {
    opacity: 1;
}

.copyright {
    font-family: 'Lato', sans-serif;
    font-size: x-small;
    color:#000000;
    padding:10px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: scroll;
    background-color: #303030;
}
  
.modal-content {
    margin: auto;
    display: block;
    max-width:90%;
    max-height:90%;
}
  
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #FFFCF9;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FFFCF9;
    font-size: 32px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover, .close:focus {
    color: #FFFCF9;
    text-decoration: none;
} 


@media only screen and (max-width: 550px) {

    .logo img {
        height:75px;
    }

    nav li {
        padding:20px 8px 8px 8px;
        font-size: 18px;
    }
    
    nav ul { 
        display:flex;
        float:right;
        margin-right:10px;
    }

    h1 {
        font-size: 50px;
    }
}