body {
    background-image: url(../Images/HomeBackground.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#FFFCF8;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

nav {
    width:100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

nav li {
    font-family: 'Lora', serif;
    font-weight: 600;
    list-style-type: none;
    padding: 20px;
    font-size: 22px;
}

nav li a {
    text-decoration: none;
    color:#000000;
}

nav li a:visited {
    color:#575F82;
    font-size: 20px;
}

nav li a:hover {
    color:#FFFCF8;
    transition:0.3s;
    text-decoration: none; 
}

nav ul li {
    transition: ease .3s;
}
  
nav ul:hover > li {
    opacity: 0.5;
}
  
nav ul:hover > li:hover {
    opacity: 1;
}

.container-fluid {
    width:85%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:650px;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 64px;
    font-weight: 700;
    color:#575F82;
    line-height: 62px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color:#000000;
    line-height: 42x;
}

.hilight {
    font-family: 'Lora', serif;
    font-size: 32px;
    font-weight: 700;
    color:#575F82;
}

.section{
    width:100%;
}

.col-sm-8 {
    padding-left: 0;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.social {
    display: table;
}
  
.social ul {
    text-align: center;
    padding:0px;
    margin: 0 auto;
}
  
.social li {
    display: inline-block;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
    padding:0px;
    text-align: center;
}
  
.icon {
    width: 46px;
    height: 46px;
}
  
.icon .border {
    background: transparent;
    outline: none;
    color:#000000;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #000000;
    transition: all .2s ease-in-out;
}
  
.icon .border:hover {
    background: transparent;
    border-color: #FFFCF8;
    color:#FFFCF8;
}

.icon .border:visited {
    background: transparent;
    border-color: #575F82;
    color:#575F82;
}
  
.fa.fa-linkedin, .fa.fa-instagram, .fa.fa-phone,.fa.fa-envelope-o {
    font-size: 25px;
    color:#000000;
}

.fa.fa-linkedin:visited, .fa.fa-instagram:visited, .fa.fa-phone:visited,.fa.fa-envelope-o:visited {
    font-size: 25px;
    color:#575F82;
}

.fa.fa-linkedin:hover, .fa.fa-instagram:hover, .fa.fa-phone:hover,.fa.fa-envelope-o:hover {
    font-size: 25px;
    color:#FFFCF8;
}
 
.social ul li {
    transition: ease .3s;
}
  
.social ul:hover > li {
    opacity: 0.5;
}
  
.social ul:hover > li:hover {
    opacity: 1;
}

.copyright {
    font-family: 'Lato', sans-serif;
    font-size: x-small;
    color:#000000;
    padding: 10px;
}

@media only screen and (max-width: 1024px) {
    .container-fluid {
        height:550px;
    }
}

@media only screen and (max-width: 550px) {
    body {
        background-image: url(../Images/IphoneBackground.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color:#FFFCF8;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size:26px;
    }

    .hilight {
        font-family: 'Lora', serif;
        font-size: 26px;
        font-weight: 700;
        color: #24607A; 
    }

    .section1 {
        width:100%;
    }

    .logo img {
        height:75px;
    }

    nav li {
        padding:20px 8px 8px 8px;
        font-size: 18px;
    }

    nav ul{
        display:flex;
        float:right;
        margin-right:10px;
    }

    .intro {
        align-content: center;
        padding-left:30px;
        padding-right:30px;
        top:5%;
    }
}